.wrapper{
  /*background: rgb(226, 225, 223);*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80vmin;
  height: 80vmin;
}

.wrapper div{
  position: absolute;
  box-sizing: border-box;
}

.wrapper{
  --body: #630;
}

.head{
  background: var(--body);
  width: 4%;
  height: 4%;
  top: 40%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%,-50%);
}

.tail{
  background: var(--body);
  width: 3%;
  top: 40%;
  left: 50%;
  height: 38%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  z-index: 2;
}

.thorax{
  background: var(--body);
  width: 6%;
  top: 42%;
  left: 50%;
  height: 18%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  z-index: 2;
}

.left-wingtop{
  width: 50%;
  background: linear-gradient(darkorange, orange);
  top: 5%;
  height: 45%;
  left: -0.125%;
  border-radius: 20% 100% 10% 80%;
  transform-origin: right bottom;
  transform: rotate(-12deg);
  box-shadow:
          inset 3.5vmin 1.5vmin 0 1vmin,
          inset -0.5vmin 0 0 1vmin;
  z-index: 1;
}

.right-wingtop{
  width: 50%;
  background: linear-gradient(darkorange, orange);
  top: 5%;
  height: 45%;
  border-radius: 20% 100% 10% 80%;
  transform-origin: right bottom;
  transform: rotate(-12deg);
  box-shadow:
          inset 3.5vmin 1.5vmin 0 1vmin,
          inset -0.5vmin 0 0 1vmin;
  transform: scaleX(-1) rotate(-12deg);
  z-index: 1;
}

.left-wingbottom{
  width: 28%;
  height: 40%;
  background: linear-gradient(95deg, darkorange, orange);
  border-radius: 100% / 125% 125% 70% 50%;
  transform-origin: right top;
  transform: rotate(55deg);
  top: 59%;
  left: 27.5%;
  box-shadow: inset 1vmin -2vmin 0 0.5vmin;
  overflow: hidden;
}

.right-wingbottom{
  width: 28%;
  height: 40%;
  background: linear-gradient(95deg, darkorange, orange);
  left: 44%;
  top:59%;
  border-radius: 100%/ 125% 125% 70% 50%;
  transform-origin: left top;
  transform: rotate(-55deg);
  box-shadow: inset -1vmin -2vmin 0 0.5vmin;
}

